.carousel {
   position: relative;
   margin: 0 auto;
   height: 620px;

   &__content {
      position: relative;
      overflow: hidden;
      transition: width 0.4s;
      height: 100%;
   }

   &__slide {
      height: 100%;
      position: absolute;
      z-index: 1;
      transition: $transition-slideshow;
   }
}

.my_slide {
   margin: 0 0 0 20px;
}
.my_slide:last-child {
   margin: 0;
}
.my_slide img {
   width: inherit;
   border-radius: 10px;
}
.slick-dots {
   bottom: -25px;
}
.my_slide span {
   margin-top: 10px;
   display: block;
}
