*,
::after,
::before {
   box-sizing: border-box;
   outline: none;
   font-family: $font-main;
}

html {
   scroll-behavior: smooth;
   -webkit-text-size-adjust: 100%;
}

body {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
   color: $color-black;
   min-height: 100%;
   width: 100%;
   margin: 0;
   overflow-x: hidden;
   @include font;
   background-color: $color-bg;
}

.overflow-hidden {
   overflow: hidden;
}

.container-full {
   width: 100%;
   max-width: 100vw;
   height: 100%;
   margin: 0 auto;
   padding: 0px $container-full-margin;
   display: flex;
   flex-direction: column;
   align-items: center;
}

// = 2/3 of the container width
.container {
   height: 100%;
   position: relative;
   width: calc((100% - (#{$container-full-margin} * 2)) * 2 / 3 + 90px);
   min-width: 1200px;
   max-width: calc(100vw - 30px);
}

.section-title {
   display: block;
   position: relative;
   padding-bottom: 24px;
   &::after {
      @include position(absolute, null, null, 0, 0);
      content: "";
      height: 2px;
      width: 100px;
      background-color: $color-red;
   }
   h2 {
      @include font_48_b;
      margin: 0;
   }
}

.section-content {
   padding-top: 60px;
}

.img-svg {
   @include user-select-none;
   @include grid-center;
   object-fit: contain;
}
